.action-card {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.table-card {
  width: 100%;
  overflow-x: auto;
}

.task-table {
  width: 100%;
}

mat-card {
  padding: 16px;
}